.content{
  display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #0e1113;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-top: 110px;
    padding-bottom: 54px;

}
.post-card {
  width: 100%;
  max-width: 450px;
  min-height: 450px;
  height: auto;
  background-color: #0e1113;
  border-bottom: 3px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8ba2ad;
  position: relative;
}
.card-head {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  font-size: 14px;
  margin-top: 6px;
}
.card-author{
  display: flex;
  align-items: center;
  font-size: 14px;
}
.card-author p{
  display: flex;
  align-items: center;
}
.card-author img {
  width: 24px;
  background-color: black;
  padding: 4px;
  border-radius: 50%;
}
.post-options{
  position: absolute;
    z-index: 5;
    top: 36px;
    right: 14px;
}
.ellipse{
  color: white;
}

.menu {overflow-y: auto; white-space: nowrap;background: #181c1f; border-radius: 12px;}
    .menu-list { list-style: none; padding: 0; margin: 0; }
    .menu-item { position: relative; margin-top: 0; }
    .menu-content {
        display: flex;
        justify-content: space-between;
        padding: 8px 24px;
        cursor: pointer;
    }
    .menu-content:hover { background-color: #e0e0e0; }
    .icon-text { display: flex; align-items: center; gap: 8px; }
    .icon { display: flex; align-items: center; justify-content: center;min-width: 30px; }
    .text { font-size: 14px;color: white; }

.post-author-follow{
    position: absolute;
    top:8px;
    right: 36px;
}
.post-author-follow button{
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 2px 6px;
  border-radius: 12px;
  font-family: 'Bitter';
  font-size: 14px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  top: 125%;  /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.card-title {
  width: 92%;
  margin: 6px 0px;
  height: 100%;
  min-height: 20px;
  color: white;
}
a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  word-wrap: break-word; /* Ensures words break when they exceed the container's width */
    overflow-wrap: break-word; /* Modern equivalent for better browser support */
    white-space: normal; /* Allows text to wrap */
  }
.card-title h3 {
  font-size: 18px;
}
.media-container,.img-container {
  max-width: 400px;
  width: 92%;
  max-height: 400px;
  height: 77%;
  min-height: 340px;
  object-fit: contain;
  position: relative;
  background-color: black;
  border-radius: 12px;
  margin-bottom: 8px;
}
.media-container img,.img-container img,.media-container video,.img-container video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
}
.slider-controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}
.slider-controls button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.slider-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 5;
  font-size: 28px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
.s-l {
  bottom: 0;
  left: 0;
}
.s-r {
  bottom: 0;
  right: 0;
}

.card-interaction {
  width: 92%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 8px;
}
.c-i-left {
  display: flex;
  gap: 12px;
}
.likes,
.comment,
.share {
  min-width: 70px;
  width: auto;
  height: 32px;
  background-color: #2a3236;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 14px;
}

#loadMoreButton{
  width: 75px;
    height: 30px;
    background: #0e1113;
    color: white;
    border: none;
    margin: 6px 0px;
    border-radius: 12px;
    border: 2px solid white;
    font-size: 12px;
  }



.money-need {
    font-size: 30px;
    font-weight: 110;
    font-family: "Material Icons";
    color: white;
    }

/* Full Screen CSS */
.image-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.image-overlay img {
  max-width: 90%;
  max-height: 90%;
}
